<launch>
  <arg name="dataset"
    default="/workspaces/collaborative-scene-graphs/data/radar-robotcar/2019-01-11-13-24-51-radar-oxford-10k" />
  <arg name="sdk" default="/workspaces/collaborative-scene-graphs/src/robotcar_dataset_sdk" />
  <arg name="tf_prefix" default="robotcar_0" />
  <arg name="clip_first_secs" default="0" />
  <arg name="startup_delay_secs" default="0" />
  <!-- play until this timestamp, string indicating microsecs since epoch. will be ignored if empty string -->
  <arg name="play_until_timestamp" default="" />

  <!-- define the UTM world origin for the published INS pose (approximately the starting point) -->
  <arg name="world_zero_northing" default="5735848.36" />
  <arg name="world_zero_easting" default="620057.41" />
  <arg name="world_zero_down" default="-114.70" />

  <!-- allow to shift the initial pose to simulate misaligned frames -->
  <arg name="initial_shift_x" default="0.0" />
  <arg name="initial_shift_y" default="0.0" />

  <!-- full paths to the dataset folder -->
  <param name="dataset" value="$(arg dataset)" />
  <!-- full path to the base robotcar sdk (NOT radar robotcar sdk) -->
  <param name="sdk" value="$(arg sdk)" />
  <!-- remap the frames -->
  <param name="tf_prefix" value="$(arg tf_prefix)" />
  <!-- remove the first X seconds from the sequence -->
  <param name="clip_first_secs" value="$(arg clip_first_secs)" />
  <!-- start with a delay of X seconds -->
  <param name="startup_delay_secs" value="$(arg startup_delay_secs)" />
  <param name="play_until_timestamp" value="$(arg play_until_timestamp)" type="str" />

  <param name="world_zero_northing" value="$(arg world_zero_northing)" />
  <param name="world_zero_easting" value="$(arg world_zero_easting)" />
  <param name="world_zero_down" value="$(arg world_zero_down)" />

  <param name="initial_shift_x" value="$(arg initial_shift_x)" />
  <param name="initial_shift_y" value="$(arg initial_shift_y)" />

  <!-- start this player node -->
  <node name="radar_robotcar_player" pkg="radar_robotcar_player" type="radar_robotcar_player_node"
    output="screen" respawn="false" />

  <!-- Publish URDF -->
  <param name="robot_description"
    command="cat $(find radar_robotcar_player)/launch/urdf/robotcar.xml" />

  <node name="robot_state_publisher_static" pkg="robot_state_publisher"
    type="robot_state_publisher" required="true" >
    <param name="use_tf_static" value="true" />
  </node>

</launch>
